#containerTrois{
    background-color: 	#ADD8E6;
    width: 40%;
    margin: 0 auto;
    height: 700px;
}

p{
    text-align: center;
}

form{
    color: black;
    margin-top: 100px;
    font-size: 33px;
    
}

label{
    display: block;
    margin-left: 10px;
    
}

input[type='checkbox'] 
{ 
    transform: scale(2);
    margin-left: 10px; 
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    width: 80px;
    font-size: 20px;
}

button:hover{
   background-color: #90EE90;
}